<div id="app">
  <h1>Musikify</h1>
  <p>
    <!-- use router-link component for navigation. -->
    <!-- specify the link by passing the `to` prop. -->
    <!-- <router-link> will be rendered as an `<a>` tag by default -->
    <router-link to="/history">Search History</router-link>
  </p>
<router-view></router-view>
</div>