<template>
        <div class="container">
            <div class="input-group mb-3">
                <input v-model="query"
                       type="text"
                       class="form-control"
                       placeholder="Product name or description"
                       @focus="isBlur = true; loadSearchHistory()"
                       @blur="isBlur = query.length!=0"
                       aria-label="Product name or description"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" @click="search" @keyup.enter="searchMusic" type="button">
                        Search
                    </button>
                </div>
            </div>
            <div v-if="isBlur && query.length == 0">
              <p>Search history</p>
            <ul id="search-history" class="list-group">
              <li class="list-group-item" v-for="item in searchHistory" v-bind:key="item.id">
                {{ item.query }}
              </li>
            </ul>
            </div>
            <div v-if="isBlur && query.length != 0">
              <p>search suggestions</p>
            <ul id="search-results" class="list-group">
              <li class="list-group-item" v-for="item in searchResults" v-bind:key="item.id">
                <router-link :to="{name:'search', params:{query:item.name}}" class="btn btn-default">{{ item.name }}</router-link> <button @click="query = item.name; isBlur=true" class="btn badge badge-primary">^^</button>
                <router-link :to="{name:'search', params:{query:item.artist}}" class="btn btn-default">{{ item.artist }}</router-link> <button @click="query = item.artist; isBlur=true" class="btn badge badge-primary">^^</button>
              </li>
            </ul>
            </div>
        </div>
    </template>

    <script>
        import {Storage} from "./storage"
        import debounce from "lodash"
        export default {
            name: "App",
            data() {
                return {
                    query: '',
                    isBlur: false,
                    searchHistory: [],
                    searchResults: [],
                }
            },
            watch: {
                query: function(){
                  this.searchMusic();
                    }
            },
            methods: {
                searchMusic() {
                    this.searchResults = Storage.liveSearch(this.query);
                },
                loadSearchHistory(){
                  this.searchHistory = Storage.lastHistoryItems();
                },
                search() {

                }
            }
        }
    </script>

    <style scoped>

    </style>