<template>
        <div class="container">
            <h4>Search Result</h4>
            <router-link to="/">Home</router-link>
            <!-- <div v-if="result.length != 0">
              <p>Search Result for: {{$route.params.post_slug}}</p>
            <ul id="search-results" class="list-group">
              <li class="list-group-item" v-for="item in result" v-bind:key="item.id">
                {{ item.name }} <button @click="query = item.name; isBlur=true" class="btn badge badge-primary">^^</button>
                {{item.artist}} <button @click="query = item.artist; isBlur=true" class="btn badge badge-primary">^^</button>
              </li>
            </ul>
            </div>
            <div v-if="result.length == 0">
                <p>No result found!</p>
            </div> -->
        </div>
    </template>

    <script>
        import {Storage} from "./storage"
        import debounce from "lodash"
        export default {
            name: "App",
            data() {
                return {
                    result: Storage.findMusic(this.$route.params.post_slug)
                }
            },
            methods: {
            }
        }
    </script>

    <style scoped>

    </style>